

.App {
  text-align: center;
  color: black;
  font-family: effra,sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  width: 100vw;
}

.form-container {
  border: .5px solid black;
  background-color: rgb(232, 232, 232);
  display: flex;
  flex-shrink: initial;
  flex-direction: column;
  padding: 50px;
}

.input {
  margin-bottom: 15px;
  width: 800px;
}

.label {
  display: inline-block;
  text-align: right;
  width: 200px;
  margin-right: 25px;
}

.button {
  padding: 5px;
  align-items: center;
  border-radius: 4px;
}

.logo {
  color: rgb(232, 116, 97);
  margin-left: 50px;
  font-family: omnium-tagline, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  padding: 10px;
  border: 5px solid rgb(232, 232, 232);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(217deg, rgba(18, 67, 125), rgba(15,0,0,0) 95.71%),
              linear-gradient(127deg, rgba(18, 67, 125), rgba(0,15,0,0) 80.71%);
  padding-left: 5px;
  padding-right: 5px;
}

.nav-list {
  display: flex;
  list-style: none;
  color: white;
  padding-right: 10px;
}

.nav-links {
  display: flex;
  margin-right: 20px;
}

.search {
  display: flex;
  box-sizing: border-box;
  border-radius: 4px;
  color: white;
  justify-content: end;
  margin-right: 50px;
}

.icon {
  margin-right: 10px;
}